:root {
    --color-bg-dark: #000;
    --color-text: #000;
    --color-text-light: #FFFCFC;
    --color-bg-form: #E5E5E5;
    --color-bg-logo: #FFFBFB;

    /* I try to use this index for fully responsive page instead of changing font-size, width and other settings */
    /* ... it's a little bit strange and causes more calc functions, but the page looks nice on any screen */
    --index: calc(1vh + 1vw); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-in;
}

img {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.col-50 {
    width: 50%;
}

body {
    font-family: 'Rosario', sans-serif;
    color: var(--color-text);
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    height: calc(4.3 * var(--index));
}

.logo {
    width: calc(8.43333 * var(--index));
    height: 100%;
    background-color: var(--color-bg-logo);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    list-style: none;
}

.menu__item {
    padding: 10px 20px;
    font-size: calc(var(--index) * 1.2);
    font-style: italic;
}

.section {
    min-height: calc(100vh - 4.3 * var(--index));
    margin-bottom: calc(2 * var(--index)) ;
}

.section-gallery,
.section-team,
.section-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }
    .header {
        display: block;
        height: unset;
    }
    .logo {
        width: 100%;
        padding: 20px;
    }
    .logo img {
        max-width: 30vw;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* first screen styles - Gallery */

.gallery {
    display: flex;
    align-items: center;
    max-width: 1820px;
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
}

.gallery__item {
    width: 25%;
    margin: 20px;
}

.gallery__image+.gallery__image {
    margin-top: 40px;
}

.gallery__item:nth-child(1) {
    transition: 1s ease;
    animation: slide-left 2s ease 1;
}

.gallery__item:nth-child(2) {
    transition: 1s ease;
    animation: slide-left 1s ease 1;
}

.gallery__item:nth-child(3) {
    transition: 1s ease;
    animation: slide-right 1s ease 1;
}

.gallery__item:nth-child(4) {
    transition: 1s ease;
    animation: slide-right 2s ease 1;
}

@keyframes slide-left {
    0% {
        transform: translateX(-50vw);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(50vw);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}


@media (max-width: 991px) {
    .gallery {
        flex-wrap: wrap;
    }
    .gallery__item {
        width: calc(50% - 40px);
    }
    .gallery__item:nth-child(1) {
        animation: slide-left 1s ease 1;
    }
    .gallery__item:nth-child(2) {
        order: 3;
    }
    .gallery__item:nth-child(3) {
        order: 4;
    }
    .gallery__item:nth-child(4) {
        animation: slide-right 1s ease 1;
    }
}

@media (max-width: 767px) {  
    .gallery__item {
        width: 100%;
    }

    .gallery__item:nth-child(1) {
        order: 1;
        animation: slide-left 1s ease 1;
    }
    .gallery__item:nth-child(2) {
        order: 2;
        animation: none;
    }
    .gallery__item:nth-child(2) > div:first-child,
    .gallery__item:nth-child(3) > div:first-child {
        animation: slide-right 1s ease 1;
    }
    .gallery__item:nth-child(2) > div:last-child,
    .gallery__item:nth-child(3) > div:last-child  {
        animation: slide-left 1s ease 1;
    }
    .gallery__item:nth-child(3) {
        order: 3;
        animation: none;
    }
    .gallery__item:nth-child(4) {
        order: 4;
        animation: slide-right 1s ease 1;
    }
}


/* second screen styles - Services */

.section-services__img img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(27.2 * var(--index));
}

.services__item {
    width: 50%;
    height: 50%;

    padding: calc(.5 * var(--index));
    text-align: center;

    transition: 1s ease;
    animation: rotate-items-1 8s ease infinite;
}

.services__item:nth-child(2) {
    animation: rotate-items-2 8s ease infinite;
}

.services__item:nth-child(3) {
    animation: rotate-items-3 8s ease infinite;
}

.services__item:nth-child(4) {
    animation: rotate-items-4 8s ease infinite;
}
.services__img {
    width: calc(11.6666 * var(--index));
}
.services__title {
    font-style: italic;
    font-weight: 700;
    font-size: calc(1.6 * var(--index));
    line-height: 1.2em;
}

@keyframes rotate-items-1 {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(100%, 0);
    }

    50% {
        transform: translate(100%, 100%);
    }

    75% {
        transform: translate(0, 100%);
    }
}

@keyframes rotate-items-2 {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(-100%, 100%);
    }

    75% {
        transform: translate(-100%, 0);
    }
}

@keyframes rotate-items-3 {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(0, -100%);
    }

    50% {
        transform: translate(100%, -100%);
    }

    75% {
        transform: translate(100%, 0);
    }
}

@keyframes rotate-items-4 {
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(-100%, 0);
    }

    50% {
        transform: translate(-100%, -100%);
    }

    75% {
        transform: translate(0, -100%);
    }
}


@media (max-width: 991px) {
    .section-services {
        flex-direction: column-reverse;
    }

    .col-50 {
        width: 100%;
    }
    
    .section-services__img {
        margin-bottom: calc(2 * var(--index));
    }
}

@media (max-width: 767px) {  
    .section-services {
        display: block;
        min-height: unset;
        margin: 20vw 0;
    }  
    .section-services__img {
        display: none;
    }
}


/* third screen styles - team */

.section-team__title {
    font-weight: 700;
    font-size: calc(var(--index) * 3.2);
    line-height: 1.2em;
    text-align: center;
}

.team {
    display: flex;
    align-items: stretch;
}

.team-member {
    width: 25%;
    margin: 25px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.team:hover .team-member:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity .3s ease-in;

    z-index: 1;
}

.team-member img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top center;
}

.team-member__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform: translateY(100%);

    color: var(--color-text-light);
    background: rgba(163, 83, 10, 0.7);
    text-align: center;
    font-weight: 400;
    font-size: calc(var(--index) * 1.6);

    padding: 20px;
    transition: .3s ease-in;
}

.team-member:hover .team-member__info {
    transform: translateY(0);
}

.team:hover .team-member:hover::before {
    opacity: 0;
}

@media (max-width: 991px) {
    .team {
        flex-wrap: wrap;
    }
    
    .team-member {
        width: calc(50% - 50px);
    }
}

@media (max-width: 767px) {    
    .team-member {
        width: 100%;
        margin: 15px 0;
    }
}


/* fourth screen styles - contacts */
.section-contacts .container {
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.contacts-form {
    width: 58.6666%;
    padding: 0 20px;
}

.contacts-map {
    width: 41.3334%;
    padding: 0 20px;
}

.contacts-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: calc(2 * var(--index)) 20px 0;
}

.contacts-form__title {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: calc(var(--index) * 2.1333);
    line-height: 1.21875em;
    max-width: calc(var(--index) * 26.6);
    margin-bottom: 20px;
}

.contacts-form form {
    background-color: var(--color-bg-form);
    padding: 20px;
}

.contacts-form__item {
    padding: 20px;
}

input {
    height: calc(var(--index) * 2.66);
}

textarea {
    resize: none;
    height: calc(var(--index) * 7);
}

input,
textarea {
    width: 100%;
    max-width: 100%;
    padding: 6px 16px;
    font-weight: 700;
    font-size: calc(var(--index) * 1.2);
    line-height: 1.2222em;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.contacts-map__wrapper {
    height: 100%;
}

.contacts-map iframe {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.contacts-footer__item {
    font-size: var(--index);
}

.contacts-footer__item:first-child {
    max-width: calc(18.8333 * var(--index));
}

.contacts-footer__item:not(:last-child),
.contacts-footer__item h3 {
    text-align: center;
}

.contacts-footer__item h3 {
    text-transform: capitalize;
}

.contacts-footer__item:nth-child(2) h3 {
    margin-bottom: 1em;
}

.contacts-footer__link {
    font-style: italic;
}

.contacts-footer__link span {
    font-style: normal;
    font-weight: 700;
}

.socials {
    list-style: none;
    margin: 4px auto 0;
    display: table;
}

.socials__item a {
    display: flex;
    align-items: center;
}

.socials__item a:before {
    content: '';
    width: calc(1.1333 * var(--index));
    max-width: 34px;
    height: calc(0.9666 * var(--index));
    max-height: 29px;
    background-image: url(../img/icon-instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76.470588% auto;
    display: block;
}

.socials__item:nth-child(2) a:before {
    background-image: url(../img/icon-facebook.png);
    background-size: 100% auto;
}

.socials__item:nth-child(3) a:before {
    background-image: url(../img/icon-twitter.png);
    background-size: auto 100%;
}

@media (max-width: 991px) {
    .contacts-form,
    .contacts-map {
        width: 100%;
    }

    .contacts-form {
        order: 1;
    }

    .contacts-map {
        order: 2;
        margin-top: var(--index);
    }
    
    .contacts-footer {
        order: 3;
        flex-direction: column;
        align-items: center;
    }

    .contacts-form__title {
        max-width: 100%;
    }

    .contacts-map__wrapper {
        height: 75vw;
    }

    .contacts-footer__item + .contacts-footer__item {
        margin-top: var(--index);
    }
}

@media (max-width: 767px) {    
    .contacts-form {
        order: 2;
        margin-top: var(--index);
    }

    .contacts-map {
        order: 1;
    }
}