/* common styles */
body {
    font-family: Inter, sans-serif;
}
body * {
    box-sizing: border-box;
}
h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 55px;
}
h2 {
    font-size: 32px;
    line-height: 39px;
}
.subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
}

.container {
    max-width: 916px;
    padding: 0 25px;
    margin: 20px auto 100px;
}

.text--uppercase {
    text-transform: uppercase;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}


img {
    max-width: 100%;
}
