/* 

all fonts is here:

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;

This design... um... I think it's a bad idea to include one font for .hero, 
another for footer, one more for headings only and one for another text. 
Designers makes me cry.
You should kill yours. :)

*/

:root {
    --color-bg: #212529;
    --color-bg-footer: #1C1C1C;
    --color-accent: #FFB742;
    --color-title: #fff;
    --color-text: #D5D5D5;
    --color-text-dark: #7B7B7B;
    --color-text-btn: #212529;
    --gradient-bg: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .25s ease-in;
}

img {
    width: 100%;
    max-width: 100%;
}

.text--center {
    text-align: center;
}

.text--accent {
    color: var(--color-accent);
}

.text--underlined {
    text-decoration: underline;
}

.row {
    display: flex;
}

.col-50 {
    width: 50%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    line-height: 1.875em;
}

.container {
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo a {
    display: block;
    line-height: 0;
}

.header__logo img {
    max-width: 100%;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.main-nav__item {
    padding: 10px 12.5px;
    color: #fff;
}

.main-nav__item.active, .main-nav__item:hover {
    color: var(--color-accent);
}

.main-nav__item a {
    font-weight: 600;
    font-size: 1.125rem;
}

.btn {
    display: inline-block;
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 50px;
    color: var(--color-text-btn);

    height: 50px;
    padding: 0 26px;

    font-size: 1.125rem;
    line-height: 46px;
    font-weight: 700;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--color-accent);
}

.section {
    margin: 140px 0;
}

.section-hero {
    font-family: 'Inter', sans-serif;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 100px);
    margin: 0 0 140px;
}

.section-hero__title {
    font-size: 3rem;
    line-height: 1.9em;
    margin: 0 auto 25px;
}

.section-hero__subtitle {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.section-hero__description {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 22px;
}

.section-hero__img {
    max-width: 210px;
    margin: auto;
}

.section-advantages {
    margin: 100px 0;
}

.advantages {
    display: flex;
    align-items:stretch;
    justify-content: space-between;
}

.advantages__item {
    width: 33.3333%;
    margin: 0 12px;
    padding: 25px 30px;

    color: #fff;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;

    transition: .25s ease-in;
    cursor: pointer;
}

.advantages__item:hover {
    background: var(--gradient-bg);
}

.advantages__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.advantages__item .count {
    font-size: 2rem;
}

.advantages__item:hover .count,
.advantages__item:hover .title {
    color: var(--color-text-btn);
}

.advantages__icon {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 50px;
    padding: 12px;
    background-color: #fff;
}

.section-about {
    max-width: 1440px;
    padding: 0 20px;
}

.section-about__img {
    width: 43vw;
    max-width: 620px;
}

.section-about__content {
    margin-left: 20px;
}

.section__subtitle {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0 26px;
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.section__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
    color: var(--color-title);
    margin-bottom: 30px;
}

.section__text {
    margin-bottom: 54px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.skills__item {
    width: 80px;
    height: 80px;
    min-width: 80px;
    margin: 8px;
    padding: 16px;

    background: #383E45;
    border: 1px solid #383E45;
    border-radius: 10px;

    transition: .25s ease-in;
    cursor: pointer;
}

.skills__item:hover {
    background: rgba(255, 183, 66, 0.5);
    border-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills__item img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.portfolio-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    margin: 30px auto;
}

.portfolio-nav__item {
    margin: 0 12px;
    padding: 0 20px;
    border-radius: 3px;

    color: #fff;
    font-weight: 600;

    transition: .25s ease-in;
    cursor: pointer;
}

.portfolio-nav__item.active, .portfolio-nav__item:hover {
    background-color: var(--color-accent);
    color: var(--color-text-btn);
}


/* this gallery part could be styling with flex-direction:row, 
with padding hack for displaying images and negative margin-top for each 5th item.
I think this way is better, cause we can have a much more images, than 6.
But here I use flex-direction: column, ordering and height calculation 
for responsive gallery */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 57vw;
    max-height: 860px;
    width: 88vw;
    max-width: 1220px;
    margin: auto;
}

.portfolio__item {
    width: 33.3333%;
    padding: 15px;
    height: 38%;
}

.portfolio__item:nth-child(odd) {
    height: 62%;
}

.portfolio__item:nth-child(1) {
    order: 1;
}
.portfolio__item:nth-child(2) {
    order: 3;
}
.portfolio__item:nth-child(3) {
    order: 5;
}
.portfolio__item:nth-child(4) {
    order: 2;
}
.portfolio__item:nth-child(5) {
    order: 4;
}
.portfolio__item:nth-child(6) {
    order: 6;
}

.portfolio__item .img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

    max-width: 100%;
    max-height: 100%;
}



.testimonials {
    display: flex;
    max-width: 1260px;
    margin: 90px auto 0;
}

.testimonials__item {
    width: 33.3333%;
    margin: 0 20px;
    padding: 48px 30px;
    background: #fff;
    color: #000;
    border-radius: 8px;
}

.review {
    font-size: 1.25rem;
    line-height: 1.7em;
    margin-top: 22px;
}

.author {
    display: flex;
    align-items: center;

    margin-top: 36px;
}

.author__img {
    width: 72px;
    height: 72px;
    min-width: 72px;
    border-radius: 50px;
    overflow: hidden;

    margin-right: 24px;
}

.author__img img {
    width: 100%;
    max-width: 100%;
}

.author__name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.7em;
}

.footer {
    background-color: var(--color-bg-footer);
    padding: 140px 0 100px;
    margin-top: 140px;
}

.footer .row {
    justify-content: space-between;
}
.footer__main {
    width: 100%;
    max-width: 255px;
}

.footer__logo {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 30px;
}

.footer__newsletter {
    width: 100%;
    max-width: 320px;
}
.footer__item:not(:last-child) {
    padding: 0 20px;
}
.footer__item {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 2em;
    color: var(--color-text-dark);
}

.footer-list {
    list-style: none;
}

.footer-list__item:hover a,
.footer-list__item.active {
    color: var(--color-accent);
}

.footer__title {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.48em;
    color: #F5FBF2;
    margin-bottom: 1rem;
}