/*  I prefer svg sprites over css but sometimes we only have 
    images and knowing how to work with css sprites can be helpful.
    
    I made this sprite icons.png using css sprite generator
    here: https://www.cssportal.com/css-sprite-generator/
*/

.icon { background: url('../img/icons.png') no-repeat top left; width: 48px; height: 46px;  } 
.icon.arrow { background-position: 0 0; width: 23px; height: 44px; } 
.icon.globe { background-position: -33px 0; width: 56px; height: 50px; } 
.icon.star { background-position: -99px 0; } 
.icon.star--hover { background-position: -157px 0; } 

/* common styles */

:root {
    --color-main-bg: #FBE4FF;
    --color-btn-bg: #243B93;
    --color-btn-hover: #EF075B;
    --color-header-bottom: #BFF0FF;
    --color-title: #353C57;
    --color-text: #202846;
    --color-text-link: #fff;

    font-size: 16px;
}

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-main-bg);
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1386px;
    padding: 0 33px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    transition: .3s ease-in;
    text-decoration: none;
    color: inherit;
}

.btn {
    height: 46px;
    line-height: 46px;
    border-radius: 30px;
    display: inline-block;
    padding: 0 32px;

    background-color: var(--color-btn-bg);
    color: var(--color-text-link);
}

/* header */

.header-top {
    background-color: var(--color-btn-bg);
    color: var(--color-text-link);

    padding: 8px 0;
}

.header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu__item {
    width: 100%;
    max-width: 170px;
    text-align: center;
}
.menu__item a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.16em;
}

.lang {
    width: 100%;
    max-width: 105px;

    cursor: pointer;
}
.lang__icon {
    float: left;
    margin-right: 10px;
}
.lang__name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 50px;
}

.header-bottom {
    background-color: var(--color-header-bottom);
    padding: 14px 0;
}

.header-bottom h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 1.3em;
    color: var(--color-text);
}

/* main */
.section {
    margin: 30px 0 40px;
}

.section__title {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;

    background-color: #fff;
    color: rgba(0, 0, 0, 0.61);
    
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.28em;
}

.place {
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    padding: 14px 53px 21px 52px;
    display: flex;

    position: relative;
    transition: .3s ease-in;
}

.place:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.place + .place {
    margin-top: 42px;
}

.place__img {
    margin: 19px 30px 0 0;
    width: 36.790123%;    
}

.place__img img {
    max-width: 100%;
    width: 100%;
}

.place__info {
    width: 60.823045%;
}

.place__title {
    font-style: italic;
    font-size: 2.25rem;
    line-height: 1.3em;

    margin-bottom: 10px;

    color: var(--color-title);
    border-bottom: 3px solid #fff;
}

.place__description {
    background-color: #EDFBFF;
    min-height: 205px;
    padding: 12px 70px 53px 16px;

    font-size: 1.375rem;
    line-height: 1.27em;
    color: var(--color-text);
}

.place__btn {
    position: absolute;
    bottom: 11px;
    right: -33px;

    font-size: 1.5rem;
}

.place:hover .place__btn {
    background-color: var(--color-btn-hover);
}

.place__icon {
    position: absolute;
    top: 4px;
    right: 4px;
}

.place:hover .place__icon.star {
    background-position: -157px 0;
}

.btn--scroll {
    background: rgba(48, 12, 106, 0.3);
    border-radius: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 101px;
    
    position: fixed;
    bottom: 86px;
    right: calc((100vw - 1386px) / 2 - 33px);
}