:root {
    --color-blue: #0072db;
    --color-logo-blue: #3e45e8;
    --color-border: #1400ff;
    --color-btn-bg: #2a61f0;
    --color-btn-hover: #ff7800;
    --color-btn-title: #fff;
    --color-yellow: #FF9900;
    --color-logo-yellow: #e8c23e;
    --color-footer-link: #A89D9D;

    font-size: 20px;
}

body {
    font-family: 'Inter', sans-serif;
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    padding: 25px 0;
    height: 110px;
}

.logo {
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.4rem;
    margin: 0 auto;
    letter-spacing: 0.1em;
}

.logo .blue {
    color: var(--color-logo-blue);
}

.logo .yellow {
    color: var(--color-logo-yellow);
}

.hero {
    min-height: calc(100vh - 100px);

    /* This code is using background-blend-mode like you ask us to do */

    /* background-image: linear-gradient(#000, #000), url(../img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay; */

    /* but it looks so strange on the page. */
    /* So I change this and set up linear-gradient from figma. Don't bite me, please */

    background-image: linear-gradient(90deg, rgba(52, 52, 52, 0.35) 68.11%, rgba(52, 52, 52, 0) 100%), url(../img/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 25vh 0 5vh;
    margin-bottom: 48px;
}

.hero__text {
    background-image: linear-gradient(180deg, #00E0FF 0%, #1400FF 100%), linear-gradient(180deg, #FFA800 0%, #FFF500 100%);
    background-size: 23px 50%, 23px 50%;
    background-position: left top, left bottom;
    background-repeat: no-repeat;
    padding-left: 60px;

    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 157.3%;
}

.heading {
    background-image: linear-gradient(90deg, #00E0FF 0%, #1400FF 100%), linear-gradient(90deg, #FFA800 0%, rgba(255, 245, 0, 0) 100%);
    background-size: 25vw 12px, 25vw 12px;
    background-position: left bottom, 25vw bottom;
    background-repeat: no-repeat;
    padding-bottom: 12px;
    margin-bottom: 40px;
}

.heading__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 157.3%;
}

.heading--centered {
    background: none;
    text-align: center;
    margin: 40px auto;
    padding-bottom: 0;
}

.heading--centered .heading__title {
    display: inline-block;
    border-bottom: 7px solid var(--color-border);
    margin: 0;
}

.map {
    text-align: center;
    max-width: 1040px;
    margin-bottom: 36px;
}
.map__img img {
    max-width: 100%;
    width: 100%;
}
.map__img {
    margin-bottom: 23px;
}

.btn {
    display: inline-block;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-title);
    width: 100%;
    max-width: 499px;
    height: 81px;
    line-height: 81px;
    border-radius: 41px;
    font-size: 3.2rem;

    transition: 0.3s ease-in;
}

.btn:hover {
    background-color: var(--color-btn-hover);
}

.footer {
    text-align: center;
    padding: 6px 20px 30px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}

.footer .logo a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.footer__link a {
    color: var(--color-footer-link);
    font-family: 'Marcellus SC', serif;
    font-size: 1.8rem;
    line-height: 2.25rem;
    letter-spacing: 0.1em;
}

.footer__link a:hover {
    color: var(--color-logo-yellow);
}

.footer__socials a {
    display: inline-block;
    margin: 0 14px;
}

.cards {
    min-width: 992px;
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0d095f;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;

    position: relative;
}

.card:nth-child(1) {
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card--margin {
    margin: 0 4.5%;
    box-shadow: 0 21px 40px rgba(0, 209, 255, 0.35);
}

.card:nth-child(3) {
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card__img {
    margin-bottom: 14px;
}

.card__img>img {
    width: 100%;
}

.card__title {
    color: var(--color-blue);
    font-size: 1.2rem;
    padding: 0 14px;
}

.card__description {
    color: var(--color-yellow);
    padding: 0 14px;
}

.card > a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.card:hover {
    border-color: var(--color-border);
}