body {
    background-color: #f0fff0;

    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
body * {
    box-sizing: border-box;
}
.container {
    max-width: 444px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
}
.content-wrapper {
    background-color: #000;
    color: #fff;
    padding: 12px 44px 103px;
    text-align: center;
}
h1 {
    font-size: 29px;
    font-weight: 600;
    letter-spacing: 0.39em;
    text-transform: lowercase;
    margin: 26px auto 45px;
}
.btns-wrapper {
    width: 100%;
    padding-left: 14px;
    max-width: 316px;
    margin: auto;
}
.btn {
    display: block;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.12em;
    line-height: 42px;
    height: 50px;
    color: #fff;
    border: 4px solid #fff;
    margin-top: 26px;
}

/* for simple hover effect */
.btn {
    transition: 0.3s ease-in;
}
.btn:hover {
    background-color: #fff;
    color: #000;
}