/* list of backgrounds */
.nonmetals {
    background-color: #487bde;
}
.noble-gases {
    background-color: #bb78fe;
}
.alkali-metals {
    background-color: #ff4343;
}
.alkaline-metals {
    background-color: #ff7043;
}
.metalloid {
    background-color: #1b99c1;
}
.halogen {
    background-color: #6448ff;
}
.metal {
    background-color: #14ae5c;
}
.transition-metals {
    background-color: #ff8a00;
}
.lanthanides {
    background-color: #699797;
}
.actinides {
    background-color: #976995;
}

/* common styles */
.container {
    max-width: 1440px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
body * {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
.number, .title, .sign {
    display: block;
}
.number, .title {
    font-size: 8px;
}
.sign {
    font-size: 12px;
    line-height: 1em;
    margin: 10px 0;
}
.sign-title {
    font-size: 10px;
    line-height: 1em;
}
h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

/* common table styles */
table {
    display: block;
    overflow: auto;
    /* previous two lines for small displays*/
    width: 100%;
    text-align: center;
    border: none;   
}
table td {
    border-radius: 2px;
    height: 75px;
    box-sizing: border-box;
    min-width: 75px;
}