:root {
    --color-red: #D83933;
    --color-blue: #0050D8;
    --color-accent: #FF00FF;
    --color-text: #171717;
    --color-border: #ADADAD;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.text--blue {
    color: var(--color-blue);
}

.text--red {
    color: var(--color-red);
}

body {
    background-color: #E5E5E5;
    color: var(--color-text);
    font-family: 'Public Sans', sans-serif;
}

.container {
    max-width: 904px;
    margin: 100px auto;
    padding: 0 44px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 80px;
}

.mark {
    font-size: .875rem;
}

.form__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: -20px;
    margin-right: -20px;
}

.form__column {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 21px;
}

fieldset {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--color-border);
    padding: 0 0 11px;
}

legend {
    padding: 32px 0;

    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2em;
}

.form__input input,
.form__select select {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 8px 10px;
    margin-top: 8px;
}

.form__input label,
.form__select label {
    font-weight: 500;
}

.select--fake {
    background-image: url(../img/arrow-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px auto;
}

input[type="search"]:not(:focus) {
    background-image: url(../img/search-bg.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px auto;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    justify-content: start;
}

input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:before {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    background-image: url(../img/check-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px auto;
}

.form__button {
    text-align: right;
}

.form__button button {
    height: 40px;
    padding: 0 16px;
    line-height: 38px;
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    background-color: var(--color-blue);
    color: #fff;
    margin: 32px 0 32px auto;
    cursor: pointer;
}
