:root {
    --color-bg: #001124;
    --color-btn: #015FC7;
    --color-text-accent: #499FFE;
    --color-txt: #fff;
    
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: var(--color-text-accent);
    text-decoration: none;
    transition: .5s ease-in;
}

body {
    font-family: 'Padauk', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-txt);
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.section-login, .section-register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-register {
    padding: 107px 0;
}


/* Maybe we should use divs with images here, 
or just divs with 50% width and background-image, or even ::before
with a static position... I see a lot of different ways how to do this.
I use "before" to set background, because this is just
styling element and nothing more. Overcoding? */
.section-login:before,
.section-register:before {
    content:'';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    left: 0;
    right: calc(50vw + 40px);
    bottom: 0;
}

.section-login:before {
    top: 0;    
    background-image: url(../img/login-bg.png); 
    background-position: left center;
}

.section-register:before {
    top: 107px;
    max-width: 392px;
    margin: auto;
    background-image: url(../img/register-bg.png);
    background-position: center top;
}

.section__title {
    margin: 0 0 42px;
    font-family: 'DM Serif Display', serif;
    font-size: 2.8125rem;
    font-weight: 400;
}

.form-wrapper {
    width: 50%;
    max-width: 360px;
    margin-left: auto;
}

.input-wrapper {
    margin-bottom: 11px;
}

.input-wrapper label {
    display: block;
    font-size: 1.25rem;
    line-height: 1.45em;
}

.input-wrapper input {
    width: 100%;
    height: 43px;
    border: none;
    background: #fff;
    padding: 0 8px;
    font-size: 1.25rem;
    line-height: 39px;
    border: 2px solid transparent;
    color: var(--color-bg);
}

.input-wrapper input:focus {
    border-color: var(--color-text-accent);
}

input[type="submit"] {
    height: 43px;
    width: 100%;
    max-width: 180px;
    line-height: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--color-btn);
    color: #fff;
    text-transform: uppercase;

    margin: 11px 0;
    cursor: pointer;
}

.section-register input[type="submit"] {
    display: block;
    margin: 37px auto 0;
}